# /etc/nginx/conf.d/info-dash.conf

# HTTP: serve over http, we expect certbot to replace this with a https version
server {
    listen 80;
    listen [::]:80;

    server_name info.althea.link info.althea.zone;

    root /usr/share/nginx/althea-info-dash;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}