# This is a systemd service for the althea info server baackend
[Unit]
Description="Althea Info Server"

[Service]
Type=simple
RestartSec=60
LimitNOFILE=65536
Restart=always
Environment="RUST_LOG=INFO"
Environment="RUST_BACKTRACE=FULL"
ExecStart=/usr/bin/althea-info-server

[Install]
WantedBy=default.target
